{% extends "layout.html" %}
{% block title %}Welcome Folks{% endblock title %}
{% block content_title %}Hello World{% endblock content_title %}
{% block content %}
<div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, alias quia! Beatae, vel dolores harum, laudantium iusto deserunt illo voluptatibus aut nisi, sit labore officia sequi ducimus repellendus? Maiores, molestias!</p>
</div>
{% endblock content %}